@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import './statics.scss';
@import './animations.scss';
@import './header.scss';
@import './homes.scss';
@import './work.scss';
@import './timeline.scss';
@import './allapp.scss';
@import './footer.scss';

* {
  margin: 0;
  padding: 0;
  font-weight: $text2;
  //   text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: $color1;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.disableBtn {
  background-color: rgb(237, 237, 237);
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
